{% extends '::base.html.twig' %}

{% block title %}Переход по внешней ссылке{% endblock %}

{% block body %}

	<h2>Переход на "{{ url | default(raw | default('')) }}"</h2>
	{% if url|default(false) %}
    	<div>
    		<p>Для того чтобы перейти на сайт <b>{{ host }}</b> нажмите ссылку
    			<a href="{{ url }}">{{ url }}</a>
    		</p>
    	</div>
	{% else %}
    	<div>
    		<p>Для перехода по внешней ссылке указана строка, не являющаяся разрешенным для перехода url адресом:</p>
    		<pre>{{ raw }}</pre>
    	</div>
	{% endif %}
{% endblock %}