<div {{ sonata_block_attr(sectionContent.content)  }}>
    <div>
        <h1>{{ sectionContent.title }}</h1>
    </div>
    {% if sectionContent.content %}
    	{% if sectionContent.content.body is defined %}
            <div>{{ sectionContent.content.body }}</div>
        {% else %}
        	<div>{{ sonata_block_render(sectionContent.content) }}</div>
        {% endif %}
    {% endif %}

    {% if sectionContent.block %}
        <div>
            {{ sonata_block_render(sectionContent.block) }}
        </div>
    {% endif %}
</div>
