<div {{ sonata_block_attr(sectionContent.content)  }}>
    {% createphp sectionContent as="rdf" noautotag %}
        <div {{ createphp_attributes(rdf) }}>
            <h1 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h1>
        </div>
    {% endcreatephp %}
    {% if sectionContent.content and if cmf_is_published(sectionContent.content) %}
    	{% if sectionContent.content.body is defined %}
            <div>{{ sectionContent.content.body }}</div>
        {% else %}
        	<div>{{ sonata_block_render(sectionContent.content) }}</div>
        {% endif %}
    {% endif %}

    {% if sectionContent.block and cmf_is_published(sectionContent.block)%}
        <div>
            {{ sonata_block_render(sectionContent.block) }}
        </div>
    {% endif %}
</div>
