{% extends '::base.html.twig' %}

{% block title %}{{ cmfMainContent.title }}{% endblock %}

{% block body %}

	<div>
        {% if cmfMainContent.sideMenu %}
            {% set m = knp_menu_get(cmfMainContent.sideMenu) %}
            <h2>{{ m.label }}</h2>
            {{ knp_menu_render(cmfMainContent.sideMenu) }}
        {% endif %}
    </div>

    <div>
        <h2>{{ cmfMainContent.title }}</h2>
        <div>{{ cmfMainContent.body }}</div>
    </div>

    {% if cmfMainContent.additionalInfoBlock and cmf_children(cmfMainContent.additionalInfoBlock) | length %}
        {{ sonata_block_render(cmfMainContent.additionalInfoBlock) }}
    {% endif %}
{% endblock %}