{% extends '@TPWeb/Layout/tp_innerpage.html.twig' %}

{% block content_header %}Переход по внешней ссылке{% endblock %}

{% block content_content %}

	{% if url|default(false) %}
    	<div>
    		<p>Вы покидаете сайт компании Таможенный Портал по внешней ссылке:</p>
    		<div class="alert alert-info" role="alert">{{ url }}</div>
    		<p>Мы не несем ответственности за содержимое сайта <b>{{ host }}</b> и рекомендуем не указывать личных данных на сторонних сайтах</p>
    		<p>Если у вас есть сомнения в безопасности указанного сайта - откажитесь от перехода</p>

    		<p>Для того чтобы перейти на сайт <b>{{ host }}</b> нажмите ссылку
    			<a class="text-danger" href="{{ url }}">{{ url }}</a>
    		</p>
    	</div>
	{% else %}
    	<div>
    		<p>Для перехода по внешней ссылке указана строка, не являющаяся разрешенным для перехода url адресом:</p>
    		<div class="alert alert-info" role="alert">{{ raw }}</div>

    		<p>Если вы уверены, что это не нанесет вреда вашему компьютеру, то вы можете скопирать текст ссылки в адресную строку вашего браузера.</p>
    	</div>
	{% endif %}


{% endblock %}